<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oauth2 test on Google Cloud Platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Oauth2 test on Google Cloud Platform</div>
        </div>
        {# [START profile] #}
        <p class="navbar-text navbar-right">

        {% if session.profile %}
            {% if session.profile.picture %}
                    <img class="img-circle" src="{{session.profile.picture}}" width="24">
            {% endif %}
            {{session.profile.name}}
        {% endif %}
        {% if session.profile %}
          <a href="/logout">
            &nbsp;&nbsp;&nbsp;Logout
          </a>
        {% else %}
          <a href="/oauth2authorize">Login</a>
        {% endif %}
        </p>
        {# [END profile] #}
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>